modules = ["web"]

[nix]
channel = "stable-24_05"
packages = ["static-web-server"]

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Open Calculator"

[[workflows.workflow]]
name = "Open Calculator"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "static-web-server -p 5000 -d . -i index.html"
waitForPort = 5000

[[ports]]
localPort = 80
externalPort = 80